In [1]:
import pandas as pd
from pathlib import Path
from mlxtend.frequent_patterns import apriori, association_rules

In [49]:
student_subject = pd.read_csv("data/bronze/bronze_student_subject.csv")
student_grade = pd.read_csv("data/bronze/bronze_student_grade.csv")

teacher_subject = pd.read_csv("data/bronze/bronze_teacher_subject.csv")
teacher_grade = pd.read_csv("data/bronze/bronze_teacher_grade.csv")

In [50]:
# # Count how many times each student appears
# student_counts = student_subject['student'].value_counts().reset_index()
# # Rename columns for clarity
# student_counts.columns = ['student', 'num_subjects']

# # Create a one-hot encoded matrix: rows = students, columns = subjects
# basket = student_subject.groupby(['student', 'subject']).size().unstack(fill_value=0)
# basket = basket.applymap(lambda x: 1 if x > 0 else 0)

# # min_support = fraction of students that must have the subject combo
# frequent_itemsets = apriori(basket, min_support=0.2, use_colnames=True)

# rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [60]:
pd.read_csv("data/bronze/bronze_period_interval.csv")

  start_time  end_time
0   07:45:00  08:30:00
1   08:30:00  09:15:00
2   09:15:00  10:00:00
3   10:00:00  10:45:00
4   10:45:00  11:25:00
5   11:55:00  12:40:00
6   12:40:00  13:25:00
7   13:25:00  14:10:00
8   14:10:00  14:50:00