Check if there is any missing catogorise, consistency of categories in every dataset (techers, students, subjects/class, periods, weekdays)

check for data quality (check duplicates, nulls, etc)
check for inconsistencies

In [1]:
import pandas as pd

In [2]:
# Read CSV
class_list = pd.read_csv("class_list.csv")
lessons_required = pd.read_csv("lessons_required.csv")
student_classes = pd.read_csv("student_classes.csv")
student_list = pd.read_csv("student_list.csv")
teacher_classes = pd.read_csv("teacher_classes.csv")
teacher_list = pd.read_csv("teacher_list.csv")
timeslots_days = pd.read_csv("timeslots.csv")
weekday = pd.read_csv("weekdays.csv")

In [3]:
# student_classes = student_classes[student_classes['class']!='isizulu-12']
# teacher_classes = teacher_classes[teacher_classes['class']!='isizulu-12']

In [4]:
class_list[['subject', 'grade']] = class_list['class'].str.rsplit('-', n=1, expand=True)
# Count grades per subject
grade_counts = class_list.groupby('subject')['grade'].nunique().reset_index(name='count')

# Filter subjects where count != 3
problem_subjects = grade_counts[grade_counts['count'] != 3]

# Get full rows from class_list for those subjects
class_list[class_list['subject'].isin(problem_subjects['subject'])]

         class  subject grade
21     geog-12     geog    12
52  isizulu-11  isizulu    11
53  isizulu-10  isizulu    10

In [5]:
student_classes[['subject', 'grade']] = student_classes['class'].str.rsplit('-', n=1, expand=True)
# Count grades per subject
grade_counts = student_classes.groupby('subject')['grade'].nunique().reset_index(name='count')

# Filter subjects where count != 3
problem_subjects = grade_counts[grade_counts['count'] != 3]

# Get full rows from class_list for those subjects
student_classes[student_classes['subject'].isin(problem_subjects['subject'])][['class', 'subject', 'grade']].drop_duplicates()

       class subject grade
357  geog-12    geog    12

In [6]:
teacher_classes[['subject', 'grade']] = teacher_classes['class'].str.rsplit('-', n=1, expand=True)
# Count grades per subject
grade_counts = teacher_classes.groupby('subject')['grade'].nunique().reset_index(name='count')

# Filter subjects where count != 3
problem_subjects = grade_counts[grade_counts['count'] != 3]

# Get full rows from class_list for those subjects
teacher_classes[teacher_classes['subject'].isin(problem_subjects['subject'])]

         teacher    class subject grade
0  Zuhra al-Bina  geog-12    geog    12

In [7]:
# Split subject and grade
lessons_required[['subject', 'grade']] = lessons_required['class'].str.rsplit('-', n=1, expand=True)

# Count unique grades per subject
grade_counts = lessons_required.groupby('subject')['grade'].nunique().reset_index(name='count')

# Filter subjects with not exactly 3 grades
problem_subjects = grade_counts[grade_counts['count'] != 3]

# Get original classes belonging to those subjects
problem_classes = lessons_required[lessons_required['subject'].isin(problem_subjects['subject'])]
problem_classes

         class  num_lessons  subject grade
2   isizulu-10            7  isizulu    10
8   isizulu-11            7  isizulu    11
47     geog-12            6     geog    12